{% extends "base_admin.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4" style="max-width: 600px;">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white py-2">
            <h3 class="mb-0">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Facility</h3>
        </div>
        <div class="card-body py-3">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold small">{{ field.label }}</label>
                        {{ field|add_class:"form-control form-control-sm" }}
                        {% if field.errors %}
                            <div class="text-danger mt-1 small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
              <br>
                <div class="d-flex justify-content-end gap-2 mt-3">
                    <button type="submit" class="btn btn-success btn-sm px-3">
                        {% if form.instance.pk %}Update{% else %}Add{% endif %}
                    </button>
                    <a href="{% url 'adminpanel:manage_facilities' %}" class="btn btn-outline-secondary btn-sm px-3">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
